img{
    margin-left: 140px;
}
button{
    background-color: red;
}
.card{
    border: 2px solid red;
    box-shadow: 6px 6px #f59090;
    border-radius: 10px;
    padding: 10px;
}
h2{
    text-align: center;
}