<!-- <app-navbar></app-navbar>
<img src="../../assets/image (1).png" alt="bar clothes">
<div class="card" *ngFor="let shirt of items">
    <div class="row">
        <img [src]="shirt.clothurl" style="height: 250px; width: 250px; border: 10px solid white;" class="mx-5">
        <div class="col">
            <h1>{{shirt.model}}</h1>
            <p>{{shirt.description}}</p>
            <p>Price : {{shirt.price | currency: 'INR'}}</p>
            <a class="btn btn-danger" routerLink="/billingpage">Buy now</a>
            <a class="btn btn-danger mx-4"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addShirt(shirt)">Add to cart</a>
        </div>
    </div>
</div>

  <div class="modal fade" style="color: brown;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> your product has been added to the cart</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div> -->


  <!-- “Take off your shirt."
                Jace raised his eyebrows.
                "I'm not going to attack you," she said impatiently. "I can take the sight of your naked chest without
                swooning." -->