<app-navbar></app-navbar>
<img src="../../assets/image (1).png" alt="bar clothes">
<div class="head">
<p>New Arraival</p>
</div>
<div class="card">
    <div class="row">
        <img src="../../assets/images (1).jpeg"
            style="height: 250px; width: 250px; border: 10px solid white; object-fit: contain;" class="mx-5">
        <div class="col">
            <h1>Men's Casuals Shirt</h1>
            <p>“Take off your shirt."
                Jace raised his eyebrows.
                "I'm not going to attack you," she said impatiently. "I can take the sight of your naked chest without
                swooning."</p>
            <p>Price : {{500 | currency: 'INR'}}</p>
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#buynowModal">Buy now</a>
            
        </div>
    </div>
    
</div>
<div class="card">
    <div class="row">
        <img src="../../assets/images (7).jpeg"
            style="height: 250px; width: 250px; border: 10px solid white; object-fit: contain;" class="mx-5">
        <div class="col">
            <h1>Womens's Model Tops</h1>
            <p>“Take off your shirt."
                Jace raised his eyebrows.
                "I'm not going to attack you," she said impatiently. "I can take the sight of your naked chest without
                swooning."</p>
            <p>Price : {{500 | currency: 'INR'}}</p>
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#buynowModal">Buy now</a>
            
        </div>
    </div>
</div>
<!-- Billing Form -->
<div class="modal fade" id="buynowModal" tabindex="-1" aria-labelledby="buynowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Billing Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div style="padding: 10px;">
          <form class="row g-3">
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-5">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <input id="text" class="form-control" id="inputState">
            </div>
            <div class="col-md-3">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Contact No</label>
              <input type="text" class="form-control" id="inputAddress">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Alternate Contact No</label>
              <input type="text" class="form-control" id="inputAddress2">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div>
              <button style="float: right;" type="submit" class="btn btn-danger d-grid col-3 mx-auto"
                data-bs-toggle="modal" data-bs-target="#paymentModal">
                Done</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Payment Term -->
  <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Payment Term</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div style="padding: 10px;">
        <form class="row g-3">
          <div class="btn-group" role="group" >
              <button type="button" class="btn btn-danger btn-outline-light">Credit</button>
              <button type="button" class="btn btn-danger btn-outline-light">debit</button>
              <button type="button" class="btn btn-danger btn-outline-light">netbanking</button>
            </div>
          <div class="col-12">
              <label for="holderName" class="form-label">Card Holder Name</label>
              <input type="text" class="form-control" id="holderName">
          </div>
          <div class="col-12">
              <label for="cardNumber" class="form-label">Card Number</label>
              <input type="text" class="form-control" id="cardNumber">
          </div>
          <div class="col-md-5">
              <label for="expirayDate" class="form-label">Expiray Date</label>
              <input type="text" class="form-control" id="expirayDate" placeholder="MM/YY">
          </div>
          <div class="col-md-5">
              <label for="ccvNumber" class="form-label">CCV</label>
              <input id="text" class="form-control" id="ccvNumber">
          </div>
          <div class="col-12">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                      Check me out
                  </label>
              </div>
          </div>
          <div>
              <button  type="submit" class="btn btn-danger d-grid col-6 mx-auto">Make Payment</button>
          </div>
      </form>
    </div>
      </div>
    </div>
  </div>