<div style="background-image: url(../../assets/74846248.jpg);">
  <button class="btn btn-danger mt-4" routerLink="/signin">SignUp</button>
  <button class="log btn btn-danger mt-4" routerLink="/login">LogIn</button>
  <div class="d-flex justify-content-center">
    <img style="width: 650px; height: 650px;" class="mt-1" src="../../assets/mb.png" alt="MayaBazar">
  </div>
  <div class="d-flex justify-content-center">
    <i>Buy your Dreams</i>
  </div>
  </div>

<!-- <div [ngClass]="name === 'babu' ? 'text-success' : 'text-danger'">
    This text is dynamically styled using ngClass.
  </div>
  <div [ngStyle]="{'color': fontColor, 'font-size': fontSize+'px' }">
    This text is dynamically styled using ngStyle.
  </div>
  <div [ngClass]="{ 'red-text': isRed, 'big-text': isBig }">
    This element's classes change dynamically based on component variables!
  </div>
  <div>
    Name:
    <input type="text" [(ngModel)]='data'>
    Name:{{data}}
  </div> -->

<!-- <div class="d-flex justify-content-center" style="text-shadow: 2px 2px 4px red;">
  <h1>Traffic Signal</h1>
</div>
<div class="d-flex justify-content-center mt-4">
<div >
<input type="text" class="form-control col-4 text-center" [(ngModel)]="signalColor" >
</div>
</div>
<div class="d-flex justify-content-center mt-4">
  <span class="circle mx-5" [ngClass]="{'red-light': signalColor === 'stop'}"></span>
  <span class="circle" [ngClass]="{'yellow-light': signalColor === 'ready'}"></span>
  <span class="circle mx-5" [ngClass]="{'green-light': signalColor === 'go'}"></span>
</div>
<div class=" bike mt-5">
  <img src="../../assets/bike.jpeg">
</div> -->

<!-- <div style="background-color: black;">
   <div>
    <img class="dot mt-4 mb-4 mx-5" width="500" height="800" src="../../assets/InShot_20220118_123251882.jpg" alt="MayaBazar">
    <i class="hi mx-5 ">Hi.. <strong class="mx-3">I'm <span class="mx-3">N.Thiru</span></strong></i>
</div>
  </div> -->


  